{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="lead text-center">
        <h1>Error! {{ page.header.http_response_code }}</h1>
        {{ page.content }}
    </div>
{% endblock %}
